<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/fragments :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='UOS: Facilities')}">
    <meta charset="UTF-8">

    <title>Home</title>

</head>
<body>
<nav th:replace="~{fragments/publicNavigation}">Navigation</nav>
<main>
    <div class="mapCont">
        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d19861.857213161187!2d-0.10773365921048594!3d51.51812982039309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x48761caca65115b7%3A0xff0dc8f530c744ee!2s6th%20Floor%2C%20Sparta%20Global%2C%20125%20London%20Wall%2C%20Barbican%2C%20London%20EC2Y%205AS!3m2!1d51.5174747!2d-0.09371499999999999!5e0!3m2!1sen!2suk!4v1601477861507!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="orangeCont">
        <span class="paddSpan"></span>
    <div class="container">
        <div class="row">
            <h3>Leisure Services</h3>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col card">
                <div class="card-body">
                    <h5 style="text-align: center">Go Karting</h5>
                    <iframe width="100%" src="https://www.youtube.com/embed/wilSnoDjn3M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p>Why not have some fun and try something new with a fun go karting experience close to you!</p>
                </div>
            </div>
            <div class="col card">
                <div class="card-body">
                    <h5 style="text-align: center">Public Parks</h5>
                    <img class="mb-4" th:src="@{/images/facilities1.jpg}"  alt="Park" width="100%">
                    <p>Have a lovely stroll around the wonderful nearby parks just a short walk away.</p>
                </div>
            </div>
            <div class="col card">
                <div class="card-body">
                    <h5 style="text-align: center">Leisure Centre</h5>
                    <img class="mb-4" th:src="@{/images/facilities2.jpeg}"  alt="Swimming pool" width="100%">
                    <p>Want to get active and try out a range of physical activities? Head on down to the local leisure centre and see what you can try.</p>
                </div>
            </div>
            </div>
        </div>
    <div class="greenCont">
        <span class="paddSpan"></span>
    <br/>
    <div class="container">
        <div class="row">
            <h3>Eat & Drink</h3>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col card">
                <div class="card-body">
                    <h5 style="text-align: center">Tinseltown</h5>
                    <img class="mb-4" th:src="@{/images/facilities3.jpeg}"  alt="Tinseltown" width="100%">
                    <p>Burgertastic!!</p>
                    <a href="https://www.tinseltown.co.uk/">Click here to see their website</a>
                </div>
            </div>
            <div class="col card">
                <div class="card-body">
                    <h5 style="text-align: center">Dirty Martini</h5>
                    <img class="mb-4" th:src="@{/images/facilities4.jpg}"  alt="Cocktails" width="100%">
                    <p>Socialise over a couple of drinks</p>
                    <a href="https://dirtymartini.uk.com/">Click here to see their website</a>
                </div>
            </div>
            <div class="col card">
                <div class="card-body">
                    <h5 style="text-align: center">Fight Club!</h5>
                    <img class="mb-4" th:src="@{/images/facilities7.jpg}"  alt="Drinks" width="100%">
                    <p>Celebrate adulthood!</p>
                    <a href="https://flightclubdarts.com/london/venue/shoreditch">Click here to see their website</a>
                </div>
            </div>
        </div>
    </div>
    <div class="blueCont">
        <span class="paddSpan"></span>
        <br/>
    <div class="container">
        <div class="row">
            <h3>Entertainment</h3>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col card">
                <div class="card-body">
                    <h5 style="text-align: center">Cinemas</h5>
                    <img class="mb-4" th:src="@{/images/facilities5.jpg}"  alt="cinemas" width="100%">
                    <p>See what is showing on screens today and check out our local cinemas. Theres plenty of films to choose from.</p>
                </div>
            </div>
            <div class="col card">
                <div class="card-body">
                    <h5 style="text-align: center">Bowling</h5>
                    <img class="mb-4" th:src="@{/images/facilities6.jpg}"  alt="bowling" width="100%">
                    <p>There are many lanes to choose try your luck and get competitive with some bowling fun.</p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>