<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/fragments :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='UOS: Home')}">
    <meta charset="UTF-8">

    <title>Home</title>
  
</head>
<body>
<nav th:replace="~{fragments/publicNavigation}">Navigation</nav>
<main>
    <video width="100%" autoplay loop>
        <source th:src="@{/media/promoVid.mp4}" type="video/mp4">
        Your browser does not support this video.
    </video>
    <div class="homeContainer">
        <h2>Welcome to University of Sparta's Hall of Residence</h2>
        <br/>
        <div class="container-sm">
                <p>Our hall of residence boasts an incredible 20 storey accommodation block, with 230 rooms situated within the grounds of our University’s main campus.</p>
                <p>We have a set of 4 lifts that service each floor, as well as 2 larger service lifts used for large deliveries and removal of essential items such as white goods and furniture.</p>
                <p>The hall of residence offers a number of different rooms types along with communal areas within the basement that will include games rooms and room with a bar for social gatherings of up to 100 people.</p>
                <p>The ground floor houses many different offices and meeting rooms for many different work-related purposes.</p>
                <p>At the main entrance you will find a reception area that will be manned during normal working hours on weekdays and mornings at the weekend. All entry and exit to and from the building will be though this area with access restricted by the use of electronic locks on the front doors for resident safety and security.</p>
        </div>
    </div>
</main>
</body>
</html>