<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/fragments :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='UOS: Deliveries')}">
    <meta charset="UTF-8">

    <title>Home</title>

</head>
<body>
<nav th:replace="~{fragments/publicNavigation}">Navigation</nav>
<main>
    <h1>Table of Deliveries:</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Delivery ID</th>
            <th scope="col">Resident ID</th>
            <th scope="col">Time of Arrival</th>
            <th scope="col">Delivery Description</th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="delivery : ${deliveries}">
            <tr>
                <td th:text="${delivery.deliveryId}">Delivery ID</td>
                <td th:text="${delivery.residentId}">Resident ID</td>
                <td th:text="${delivery.dateTimeOfArrival}">Time of Arrival</td>
                <td th:text="${delivery.deliveryDescription}">Delivery Description</td>
            </tr>
        </th:block>

        </tbody>
    </table>
</main>
</body>
</html>