<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/fragments :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='UOS: Add New Resident')}">
    <meta charset="UTF-8">

    <title>UOS: Add New Resident</title>

</head>
<body>
<nav th:replace="~{fragments/adminNavigation}">Navigation</nav>
<main>
    <div class="container">
        <h3>Enter New Resident Details:</h3>
        <p>All fields are required and ensure all data is correct and appropriate for the resident</p>
        <form th:action="@{/submitNewResident}" th:object="${resident}" method="post">
            <div class="form-group">
                <label for="firstNameInput">First Name</label>
                <input type="text" class="form-control" id="firstNameInput" aria-describedby="firstNameHelp" placeholder="Enter first name" th:field="*{firstName}" required>
                <small id="firstNameHelp" class="form-text text-muted">Alphanumeric characters only</small>
            </div>
            <div class="form-group">
                <label for="lastNameInput">Last Name</label>
                <input type="text" class="form-control" id="lastNameInput" aria-describedby="lastNameHelp" placeholder="Enter last name" th:field="*{lastName}" required>
                <small id=lastNameHelp" class="form-text text-muted">Alphanumeric characters only</small>
            </div>
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email" th:field="*{email}" required>
                <small id=emailHelp" class="form-text text-muted">Must be in an email format (example123@mail.com)</small>
            </div>
            <div class="form-group">
                <label for="contactInput">Contact Number</label>
                <input type="tel" class="form-control" id="contactInput" aria-describedby="contactHelp" placeholder="Enter contact number" th:field="*{contactNo}" required>
                <small id=contactHelp" class="form-text text-muted">Format of telephone number</small>
            </div>
            <div class="form-group">
                <label for="roleInput">Resident Role</label>
                <input type="text" class="form-control" id="roleInput" aria-describedby="roleHelp" placeholder="Enter role of resident" th:field="*{role}" required>
                <small id="roleHelp" class="form-text text-muted">Role is either "Mod" or "User"</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>
</body>
</html>