<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" th:href="@{/css/myStyle.css}"/>
    <link rel ="stylesheet" href="webjars/bootstrap/4.5.2/css/bootstrap.css"/>
    <title>Title</title>
</head>
<body>
<nav th:fragment="publicMenu(activeScreen)" class="">
    <!--Bootstrap stuff-->
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" href="" th:href="@{/residentHome}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/residentNoticeBoard}">Noticeboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/residentBooking}">Book Rooms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/reportIssue}">Report Issue</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-100 order-md-1 position-relative">
        <a class="mx-auto" th:href="@{/residentHome}">
            <img th:src="@{/images/spartaLogo.png}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="" th:href="@{/managementTeam}">Management Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" th:href="@{/rr}">Rules & Regulations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-primary aButton" th:href="@{/perform_logout}" role="button">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<br/>
</body>
</html>