.homeContainer{
    padding: 50px;
}
.mapCont{
    text-align: center;
    padding-bottom: 30px;
}
.paddSpan{
    padding: 10px;
}
.footer{
    left: 0;
    bottom: 0;
    height: 180px;
    width: 100%;
}
@media (min-width: 992px) {
    .navbar {
        height:100px;
    }
}
.aButton{
    text-decoration: none !important;
    color: white !important;
}
.aButton:hover{
    text-decoration: none !important;
    color: white !important;
}