<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/fragments :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='UOS: Report Issue')}">
    <meta charset="UTF-8">

    <title>UOS: Report Issue</title>

</head>
<body>
<nav th:replace="~{fragments/residentNavigation}">Navigation</nav>
<main>
    <br/>
    <div class="container">
        <h3>Report an Issue:</h3>
        <p>Please enter issue using the format suggested for your issue to be acknowledged.</p>
        <form th:action="@{/submitIssueForm}" th:object="${issue}" method="post">
            <div class="form-group">
                <label for="titleInput">Issue Subject</label>
                <input type="text" class="form-control" id="titleInput" aria-describedby="titleHelp" placeholder="Enter issue subject" th:field="*{title}" required>
                <small id="titleHelp" class="form-text text-muted">Location: Issue Subject</small>
            </div>
            <div class="form-group">
                <label for="issueBody">Provide Details</label>
                <textarea class="form-control" id="issueBody" aria-describedby="bodyHelp" placeholder="Do not forget to include your full name and resident ID at the end of the report." rows="5" th:field="*{content}" required></textarea>
                <small id="bodyHelp" class="form-text text-muted">Remember to include full name and resident ID!</small>
            </div>
            <button type="submit" class="btn btn-primary greenBtn">Submit</button>
        </form>
    </div>
</main>
</body>
</html>