<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/fragments :: layout(~{::head}, ~{::nav}, ~{::main})}">
<head th:replace="~{fragments/head :: headFragment(title='UOS: Rules & Regulations')}">
    <meta charset="UTF-8">

    <title>Home</title>

</head>
<body>
<nav th:replace="~{fragments/residentNavigation}">Navigation</nav>
<main>
    <br/>
    <div class="container-md">
        <h1>Rules & Regulations</h1>
        <p>
            Residents must conduct themselves at all times in a responsible and proper manner with due consideration for Operations staff, other residents, local residents and members of the public.
            <br/>
            As a resident you must therefore have due regard for all such people and ensure that you do not do anything which causes an adverse impact on the health, safety, wellbeing or academic progress of others.
            <br/>
            The <span style="color: #bd2130">Residential Rules (RR)</span> that you must follow are those which deal with the following subject matters:
        </p>
            <ul>
                <li>Causing nuisance and noise affecting the work or sleep of others</li>
                <li>Keys/access control cards</li>
                <li>Window restrictors</li>
                <li>Keeping pets</li>
                <li>Ball games</li>
                <li>Motor vehicles & Parking</li>
                <li>Parties</li>
                <li>Visitors and guests</li>
                <li>Sub-letting</li>
                <li>Access to rooms</li>
                <li>Prohibited items</li>
                <li>Incense sticks and candles</li>
                <li>Cycle storage</li>
                <li>Window displays</li>
                <li>Cleaning and causing obstruction</li>
                <li>Electrical equipment</li>
                <li>Damage to property (other than University Accommodation)</li>
                <li>Damage to property (University Accommodation)</li>
                <li>Breach of Health and Safety Regulations</li>
                <li>Use of Social Spaces</li>
                <li>Unattended cooking</li>
            </ul>
        <p>
            Further details on each of the Residential Rules can be discussed further by sending us an email at <a href="mailto:hallofresidence@uos.com">hallofresidence@uos.com</a>.
        </p>
    </div>
</main>
</body>
</html>